/*bagian sidebar*/
.wrap .d-flex{
	background: orange;
	float: left;	
	width: 65%;
	height: 100%;
}

 .search {
    border-radius: 10px;
}

.select {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 300px;
    gap: 1px;
}
.select__item {
    padding: 10px;
    cursor: pointer;
			text-align: center;
			font-family: poppins;
			border-radius: 10px;
			background: gray;
			margin-right: 20px;
		}

		.select__item--selected {
			background: blue;
			color: black;
		}

		.images {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.overflow-lines {
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}
    
/*bagian sidebar*/
.wrap .badan .sidebar{
	background: orange;
	float: left;	
	width: 65%;
	height: 100%;
}
 